<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhiApp.zPlanType.home.title">Z Plan Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-z-plan-type" [routerLink]="['/z-plan-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhiApp.zPlanType.home.createLabel">
            Create new Z Plan Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zPlanTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhiApp.zPlanType.typeName">Type Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zPlanType of zPlanTypes ;trackBy: trackId">
                <td><a [routerLink]="['/z-plan-type', zPlanType.id, 'view' ]">{{zPlanType.id}}</a></td>
                <td>{{zPlanType.typeName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/z-plan-type', zPlanType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/z-plan-type', zPlanType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'z-plan-type/'+ zPlanType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
