<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhiApp.zVersion.home.title">Z Versions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-z-version" [routerLink]="['/z-version/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhiApp.zVersion.home.createLabel">
            Create new Z Version
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zVersions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhiApp.zVersion.versionType">Version Type</span></th>
            <th><span jhiTranslate="jhiApp.zVersion.accessType">Access Type</span></th>
            <th><span jhiTranslate="jhiApp.zVersion.inUse">In Use</span></th>
            <th><span jhiTranslate="jhiApp.zVersion.dateInUse">Date In Use</span></th>
            <th><span jhiTranslate="jhiApp.zVersion.accessType1">Access Type 1</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zVersion of zVersions ;trackBy: trackId">
                <td><a [routerLink]="['/z-version', zVersion.id, 'view' ]">{{zVersion.id}}</a></td>
                <td>{{zVersion.versionType}}</td>
                <td>{{zVersion.accessType}}</td>
                <td>{{zVersion.inUse}}</td>
                <td>{{zVersion.dateInUse | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'jhiApp.Zenumer.' + zVersion.accessType1}}">{{zVersion.accessType1}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/z-version', zVersion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/z-version', zVersion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'z-version/'+ zVersion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
