<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhiApp.zEntity.home.title">Z Entities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-z-entity" [routerLink]="['/z-entity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhiApp.zEntity.home.createLabel">
            Create new Z Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zEntities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entityName"><span jhiTranslate="jhiApp.zEntity.entityName">Entity Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entityAbbre"><span jhiTranslate="jhiApp.zEntity.entityAbbre">Entity Abbre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entityStdName"><span jhiTranslate="jhiApp.zEntity.entityStdName">Entity Std Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entityType"><span jhiTranslate="jhiApp.zEntity.entityType">Entity Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isGuiKou"><span jhiTranslate="jhiApp.zEntity.isGuiKou">Is Gui Kou</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createrLogin"><span jhiTranslate="jhiApp.zEntity.creater">Creater</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let zEntity of zEntities ;trackBy: trackId">
                <td><a [routerLink]="['/z-entity', zEntity.id, 'view' ]">{{zEntity.id}}</a></td>
                <td>{{zEntity.entityName}}</td>
                <td>{{zEntity.entityAbbre}}</td>
                <td>{{zEntity.entityStdName}}</td>
                <td>{{zEntity.entityType}}</td>
                <td>{{zEntity.isGuiKou}}</td>
                <td>
                    {{zEntity.createrLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/z-entity', zEntity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/z-entity', zEntity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'z-entity/'+ zEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
